[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
fastapi = "==0.103.0"
pandas = "*"
pymysql = "*"
sqlalchemy = "*"
api = {editable = true, path = "."}
uvicorn = "0.23.2"

[requires]
python_version = "3.10"
