[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
pydantic = "*"
sqlalchemy = "*"
loguru = "*"
tqdm = "==4.66.4"
financialdata = {file = ".", editable = true}
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
