[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"
pydantic = "*"
celery = "*"
sqlalchemy = "*"
financialdata = {editable = true,path = "."}
pymysql = "*"
loguru = "*"
tqdm = "4.66.4"
apscheduler = "*"
cryptography = "*"

[requires]
python_version = "3.10"
